<%- include('../partials/header') %>

<h1>ALL FLIGHTS</h1>
  <table>
    <thead>
      <tr>
        <th>AIRLINE</th>
        <th>AIRPORT</th>
        <th>FLIGHT</th>
        <th>DEPARTS</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td> 
          <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
        </tr>
      <%  }) %>
    </tbody>
  </table>
  
  <%- include('../partials/footer') %>