<%- include('../partials/header') %>
<h2>FLIGHT DETAILS</h2>
<section>
  <div>AIRLINE: </div>
  <div><%= flight.airline %></div>
  <br>
  <div>AIRPORT: </div>
  <div><%= flight.airport %></div>
  <br>
  <div>FLIGHT: </div>
  <div><%= flight.flightNo %></div>
  <br>
  <div>DEPARTS: </div>
  <div><%= flight.departs %></div>
</section>

<br><br><h2>TICKETS</h2>
<% if (tickets.length) { %>
  <table>
    <thead>
      <tr>
      	 <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Tickets Yet</h5>
<% } %>
<a href="/flights/<%= flight._id %>/tickets/new" class="button">ADD TICKET</a>




<br><br><h2>DESTINATIONS</h2>
<form method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>DESTINATION:</label>
  <textarea name="dest"></textarea>
  <br>
  <br>
  <label>AIRPORT:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN" selected>SAN</option>
  </select>
  <br>
  <br>
  <label>ARRIVAL:
    <input type="datetime-local" name="arrival">
  </label>
  <input type="submit" value="ADD DESTINATION" class="button">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>DESTINATION</th>
        <th>AIRPORT</th>
        <th>ARRIVAL</th>
      </tr>
    </thead>
    <br>
    <br>
    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.dest %></td>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destinations Yet</h5>
<% } %>



</section>




<%- include('../partials/footer') %>